@tailwind base;
@tailwind components;
@tailwind utilities;

/* tailwind.config.css */


.section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #250821;
}

.blob{
    position: absolute;
    width: 500px;
    height: 500px;
    background: #fff;
}

.blob svg path {
    animation: blobAnimation 10s infinite ease-in-out;
  }

  @keyframes blobAnimation {
    0% {
      d: path("M26.1,-21C40.1,-19.4,62.1,-17.1,71.2,-6.4C80.4,4.2,76.8,23.2,68.2,40.6C59.6,57.9,46,73.6,31.8,72.1C17.6,70.6,2.8,51.9,-8.3,40.3C-19.4,28.7,-26.8,24.2,-37.2,16.5C-47.6,8.7,-61.1,-2.2,-57.8,-8.3C-54.4,-14.4,-34.2,-15.5,-21.8,-17.4C-9.4,-19.3,-4.7,-21.9,0.7,-22.7C6.1,-23.6,12.1,-22.6,26.1,-21Z");
    }
    50% {
      d: path("M30.3,-30C45.1,-27.9,66.2,-27.3,74.1,-16.2C82,-5.1,76.6,17.4,66.4,34.7C56.2,52,41.1,64.2,26.4,63.7C11.7,63.2,-2.6,50,-16.5,40.5C-30.4,31.1,-43.8,25.4,-49.8,15.6C-55.8,5.7,-54.3,-8.3,-50.7,-22.2C-47,-36.2,-41.2,-50.2,-31.5,-51.3C-21.9,-52.5,-10.4,-40.8,0.8,-41.6C12,-42.3,23.9,-55.1,30.3,-30Z");
    }
    100% {
      d: path("M26.1,-21C40.1,-19.4,62.1,-17.1,71.2,-6.4C80.4,4.2,76.8,23.2,68.2,40.6C59.6,57.9,46,73.6,31.8,72.1C17.6,70.6,2.8,51.9,-8.3,40.3C-19.4,28.7,-26.8,24.2,-37.2,16.5C-47.6,8.7,-61.1,-2.2,-57.8,-8.3C-54.4,-14.4,-34.2,-15.5,-21.8,-17.4C-9.4,-19.3,-4.7,-21.9,0.7,-22.7C6.1,-23.6,12.1,-22.6,26.1,-21Z");
    }
  }